<div class="leader">
  <h1>Edit Profile</h1>
</div>

<section>
  <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="editForm.invalid && (name?.dirty || name?.touched)">
        <span *ngIf="name?.errors?.['required']">Name is required</span>
        <span *ngIf="name?.errors?.['maxlength']">Name must be less than 20 characters</span>
      </div>
    </div>

    <div>
      <label for="location">Location:</label>
      <input type="text" id="location" formControlName="location">
      <div *ngIf="editForm.invalid && (location?.dirty || location?.touched)">
        <span *ngIf="location?.errors?.['required']">Location is required</span>
        <span *ngIf="location?.errors?.['maxlength']">Location must be less than 100 characters</span>
      </div>
    </div>

    <div>
      <label for="age">Age:</label>
      <input type="number" id="age" formControlName="age">
      <div *ngIf="editForm.invalid && (age?.dirty || age?.touched)">
        <span *ngIf="age?.errors?.['required']">Age is required</span>
        <span *ngIf="age?.errors?.['min']">Must be at least 13 years of age</span>
        <span *ngIf="age?.errors?.['max']">Must be less than 120 years age</span>
      </div>
    </div>

    <div>
      <label for="bio">Bio:</label>
      <textarea name="bio" id="bio" cols="30" rows="10" formControlName="about"></textarea>
    </div>

    <div class="form-section">
      <label>Likes:</label>
      <ng-container *ngFor="let like of likes.controls; index as i; last as isLast" [formArrayName]="'likes'">
        <div class="input-group">
          <input type="text" id="likes-{{ i }}" [formControlName]="i" class="form-array">
          <button (click)="deleteLike(i)" [ngClass]="{'middle-btn' : isLast}" [disabled]="!i || likes?.controls?.length === 1" >&times;</button>
          <button *ngIf="isLast" (click)="addLike()">&plus;</button>
        </div>
      </ng-container>
    </div>

    <div class="form-section">
      <label>Dislikes:</label>
      <ng-container *ngFor="let dislike of dislikes.controls; index as i; last as isLast" [formArrayName]="'dislikes'">
        <div class="input-group">
          <input type="text" id="dislikes-{{ i }}" [formControlName]="i" class="form-array">
          <button (click)="deleteDislike(i)" [ngClass]="{'middle-btn' : isLast}" [disabled]="!i || dislikes?.controls?.length === 1">&times;</button>
          <button *ngIf="isLast" (click)="addDislike()">&plus;</button>
        </div>
      </ng-container>
    </div>


    <div>
      <button type="submit" [disabled]="editForm.invalid" >Submit</button>
    </div>
  </form>
</section>

