section {
  text-align: center;
}

button {
  margin-top: .5em;
  margin-bottom: 1em;
}

p {
  text-align: center;
}

input {
  margin-bottom: .5em;
  margin-left: .5em;
}

.country-label {
  margin-right: 1em;
  margin-left: 2em;
}

.name-label {
  margin-right: 1.95em;
  margin-left: 2em;
}
