.form {
  max-width: 400px;
}

button {
  margin-top: 1em;
}

h2 {
  text-align: center;
}

.login {
  margin: auto;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8);
}
label {
  margin-left: 3em;
}
input{
  margin-left: 3em;
  max-width: 75%;
}

button {
  margin-bottom: 1em;
  margin-left: 3em;
}
