<!--<div class="profile-container">-->
<!--  <h1>Profile</h1>-->
<!--  <div class="header">-->
<!--    <img src="https://avatars.dicebear.com/api/gridy/zane.svg">-->
<!--    <div class="bio">-->
<!--      <p><span>Name: </span>{{name}}</p>-->
<!--      <p><span>Location: </span>{{location}}</p>-->
<!--      <p><span>Age: </span>{{age}}</p>-->
<!--      <p><span>About Me: </span>{{about}}</p>-->
<!--      <p><span>Likes: </span>{{likes}}</p>-->
<!--      <p><span>Dislikes </span>{{dislikes}}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="profile-container">
    <h1 class="header">Profile</h1>
    <div>
<div class="card">
  <img src="https://avatars.dicebear.com/api/gridy/zane.svg">
  <h1>{{name}}</h1>
  <p class="title">{{location}}</p>
  <p><span>Age: </span>{{age}}</p>
  <a href="http://instagram.com"><i class="fa fa-instagram"></i></a>
  <a href="http://linkedin.com"><i class="fa fa-linkedin"></i></a>
  <a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>

