.profile-container {
  max-width: 70%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
}
img{
  max-width: 175px;
  max-height: 175px;
  margin-right: 1em;
  margin-top: 1em;
}

span {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  border-bottom: red;
  border-bottom-style: solid;
  margin-bottom: 1em;
}
