#friend {
  margin: auto;
  margin-bottom: 1em;
  width: 400px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8);
}

.header {
  display: flex;
}

p {
  margin-bottom: .5em;
  margin-left: .5em;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
  margin-top: 1em;
  margin-left: .5em;
  cursor: pointer;
}

.image {
  width:25%;
  height:100%;
}


button {
  margin-top: 2em;
  margin-left: 3.5em;
}

.friend-body {
  flex-grow: 1;
}

.button {
  flex-grow: 1;
}
