#friend {
  margin: auto;
  margin-bottom: 1em;
  max-width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8);
}

.header {
  display: flex;
}

p {
  margin-bottom: .5em;
  margin-left: .5em;
}

img {
  max-height: 90px;
  max-width: 85px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  margin-top: 1em;
  margin-left: .5em;
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
