#friend {
  margin: auto;
  margin-bottom: 1em;
}
.header {
  display: flex;
}
p {
  margin-bottom: .5em;
  margin-left: .5em;
}
img{
  max-height: 85px;
  max-width: 85px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
