<div *ngIf="husqObj" class="col-6 border border-secondary bg-dark text-light" id="husq">
  <div class="header">
    <img src="https://avatars.dicebear.com/api/initials/{{husqObj.name}}.svg">
    <p class="husq-name">{{husqObj.name}}</p>
    <p class="husq-time">{{husqObj.time.toLocaleString()}}</p>
    <button *ngIf="activeUser === husqObj.userId" (click)="removeHusq()" class="input-group-text bg-dark text-danger"
            id="delete-btn">&times;
    </button>
  </div>
  <div class="husq-body">
    <p>{{husqObj.message}}</p>
    <p>{{reply}}</p>
  </div>
  <div class="input-group mb-3">
    <input [(ngModel)]="tempReply" type="text" class="form-control" placeholder="Reply to {{husqObj.name}}">
    <div class="input-group-append">
      <button (click)="saveReply()" class="input-group-text">Reply</button>
    </div>
  </div>
</div>
