img {
  max-height: 50px;
  max-width: 50px;
  margin-top: .5em;
  margin-bottom: .5em;
}

.husq-name {
  display: inline;
  margin-left: 1em;
}

.husq-time {
  display: inline;
  margin-left: 2em;
}

#husq {
  margin-bottom: 1em;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .9);
}

#delete-btn {
  display: inline;
  margin-left: 7.5em;
  font-size: 200%;
  font-weight: bolder;
  border: none;
}

a:hover {
  cursor: pointer;
}

