<div *ngIf="husqObj" class="col-6 border border-secondary bg-dark text-light" id="husq">
  <div class="header">
    <img src="https://avatars.dicebear.com/api/initials/{{husqObj.userId | username}}.svg">
    <p class="husq-name">{{husqObj.userId | username}}</p>
    <p class="husq-time">{{husqObj.time | date: "MMM dd, YYYY h:mm a"}}</p>
    <button *ngIf="activeUserId === husqObj.userId" (click)="removeHusq()" class="input-group-text bg-dark text-danger"
            id="delete-btn">&times;
    </button>
  </div>
  <div class="husq-body">
    <p class="husq-message">{{husqObj.message}}</p>
    <p>{{reply}}</p>
  </div>
  <div class="input-group mb-3">
    <input [(ngModel)]="tempReply" type="text" class="form-control" placeholder="Reply to {{husqObj.userId | username}}">
    <div class="input-group-append">
      <button (click)="saveReply()" class="input-group-text">Reply</button>
    </div>
  </div>
  <div *ngIf="husqObj">
    <a *ngIf="replies?.includes(husqObj.id)" (click)="navigateToHusq()">View comments</a>
    <app-like-button (likeEvent)="addLike()"></app-like-button>
  </div>
</div>
