<div class="col-6 border border-secondary bg-light text-dark" id="compose">
  <div class="compose-header" *ngIf="user">
    <img src="https://avatars.dicebear.com/api/initials/{{ user.name }}.svg">
    <p class="compose-name">{{ user.name }}</p>
  </div>
  <div class="compose-body">
    <textarea [(ngModel)]="message" class="compose-message" placeholder="Enter text"></textarea>
    <button (click)="addHusq()" class="input-group-text" [disabled]="!message.length || message.length > 240">Husq</button>
  </div>
  <div class="input-group mb-3" id="character-limit">
   <span>{{ message.length }} / 240 characters</span>
  </div>
</div>

